// fonts //
$Nunito: 'Nunito', sans-serif;

// color //
$lightblack:  rgb(35, 31, 32);
$grey: rgb(63, 65, 68);
$orange:  rgb(255, 107, 8);
$white: rgb(255, 255, 255);

/*
   Import partials below
*/
@import './normalize';
@import './variables.scss';

// components
@import './components/header.scss';
@import './components/course.scss';
@import './components/ruls.scss';
@import 'components/programList.scss';
@import 'components/info.scss';
@import './components/modalWindow.scss';
