.section__course {
    width: 100%;
    position: relative;
    .goit {
        font-size: 250px;
        font-family: $Nunito;
        color: rgba(0, 0, 0, 0.051);
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        top: 500px;
        right: -90px;
        transform: rotate(90deg);
    }

  .course__title {  
      font-family: $Nunito;
      font-weight: 800;
      font-size: 55px;
      margin-bottom: 38px;

  }
    .course__text::before {
      content: '';
      position: absolute;
      left: -100px;
      top: 10px;
      width: 57px;
      height: 10px;
      background-color: #000;
  }

    .course__bgcblack {
        background-color: #000;
        color: white;
        width: 900px;
        width: max-content;
        line-height: 1.05;
        margin-bottom: 8px;
        
  }
  .course__text {
        font-size: 21px;
        font-family: $Nunito;
        color: rgb(35, 31, 32);
        font-weight:800;
        width:360px;
        height: 70px;
        margin: 0px 103px 58px;
        position: relative;

     }
     .course_container {
         width: 330px;
         height: 360px;
         display: inline-block;
         margin-left: 10px;
     }
     .course__images {
         display: inline-blocke;
     }
     .article__text {
            font-size: 16.6px;
            font-family:$Nunito;
            color: #000;
            margin-bottom: 30px;
            line-height: 1.55;

          }
          .article__title {
              font-family: $Nunito;
              font-weight: 800;
              font-size: 40px;
              margin-bottom: 10px;
              position: relative;
          }
          .article__title::before {
            content: "";
             width: 15px;
             height: 15px;
            background-color: #000;
            position: absolute;
            top: -38px;
        }
        .article {
            margin-bottom: 68px;
    
        }
        .title__about-me {
            font-family: $Nunito;
            font-size: 35.43px;
            font-weight: 800px;
            color: rgb(0, 0, 0);

        }
        .container__about-me {
            box-shadow: -6px 10px 30px 5px rgba(0,0,0,0.15);
            width: 300px;
            height: 187px;
            margin:auto;
            padding-left:28px;
            padding-right: 30px;
            padding-top: 40px;
            position: relative;

        }
        .text__about-me::before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #f06e2c;
            position: absolute; 
            top: 15px;
        }
        .text__about-me {
            font-size: 16px;
            font-family: $Nunito;
            line-height: 1.5;
            font-weight: 600;
           
        }
        .after__container {
            margin-top: 25px;
            width: 400px;
            height: 190px;
        }
        
        .article__about-me {
            margin-bottom: 40px;
        }
        .after__course {
            font-size: 35px;
            font-family: $Nunito;
            font-weight: 800;
            margin-bottom: 30px;
        }
        .after__text {
            background-color: #000;
            width: max-content;
            color: #fff;
        }
        .after__course-text {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
            color: rgb(0, 0, 0);
            font-family: $Nunito;
            margin-left: 80px;
            position: relative;

        }
        .after__course-text::before {
            content: '';
            position: absolute;
            left: -81px;
            top: 3px;
            width: 48px;
            height: 8px;
            background-color: #000;
        }
        .article__after {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            
        }
     }


      