.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .header__contacts {
    height: 100%;
  }

  li {
    list-style-type: none; 
  }
  
  a {
    text-decoration: none;
  }

  &__phone::before {
    content: url('../../images/header/phone@1x.svg');
    margin-right: 10px;
  }

  &__mail::before {
    content: url('../../images/header/mail@1x.svg');
    margin-right: 10px;
  }

  &__logo {
    height: 40px;
    width: 129;

  }
}
 