.programList__li{
  width: 200px;
  height: 420px;
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.programList__li::before{
  content: counter(item, decimal-leading-zero) ".";
  counter-increment: item;
  left: -60px;
  position: absolute;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;

}

.programlist__h2{
  background-color: black;
  color: white;
  display: inline-block;    
  height: 67px;
  font-size: 55px;
  font-weight: bold;
  font-family: $Nunito;
}

.margin{
  margin-left: 70px;
}


.orange{
  background-color: $orange;
  display: inline-block;
}

.fitem__first-patrt{
  height: 200px;
}

.item__second-part{
  height: 193px;
}