.section__programList{
  position: relative;

  .programList__li{
    width: 225px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
    margin-left: 60px;
  }
    
  .programList__li:nth-child(-n+3){
      margin-top: 55px;
  }


  .list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    counter-reset: item;
    list-style-type: none;
  }

  .programList__li::before{
    content: counter(item, decimal-leading-zero) ".";
    counter-increment: item;
    left: -60px;
    position: absolute;
    font-size: 32px;
    font-weight: 800;
    font-family: $Nunito; 
  }

  .programList__li:nth-child(-n+9):after{
    content: '';
    width: 20px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 5px;
    font-size: 32px;
    left: -71px;
  }

  .programlist__h2{
    color: white;
    background-color: #000;
    display: inline-block;    
    height: 67px;
    font-size: 55px;
    font-weight: bold;
    font-family: $Nunito;
  }

  .programList__text{
    font-family: $Nunito;
    margin-top: 15px;
    line-height: 1.4;
  }

  .orange{
    background-color: $orange;
    display: inline-block;
    color: white;
  }

  .programList__pbefore::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: $orange;
    position: absolute; 
    margin-left: -21px;
    margin-top: 63px;
  }
  .first__line{
    height :300px;
  }
  .linethree{
    height: 220px;
  }
  .linefour{
    height: 230px;
  }
  .linefifth{
    height: 250px;
  }
  .lastline{
    height: 200px;
  }

  .item__second-part{
    margin-top: 20px;
  }
  .progpamm {
    font-size: 250px;
    font-family: $Nunito;
    color: rgba(0, 0, 0, 0.051);
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 500px;
    left: 0px;
    transform: rotate(90deg);
  }
}


 